.list {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.item {
  display: flex;
  height: 45px;
  padding: 0 15px;
  align-items: center;
  justify-content: center;
  background-color: #f4f2f3;

  &:nth-child(even) {
    background-color: #c0a9bd;
  }
}
